body{
  background-color: #aa3a3a;
  color: white;
  text-align: center;
}
.navbar{
  margin: 2% 10%;
}
.navbar-brand{
  font-size: 4rem;
  font-weight: 900;
}
.nav-item{
  font-size: 1.4rem;
  margin: 0 1%;
}
#features{
  margin-top: 10%;
}
.statement{
  margin-bottom: 10%;
}
.passport-img{
  transform: rotate(-25deg);
  width: 40%;
}
#mission{
  margin-top: 10%;
}
.mission-statement{
  margin: 3% 20%;
}
.btn{
  margin-bottom: 80px;
}
#suggestions{
  margin: 100px 0;
}
.calling{
  margin-bottom: 40px;
}
.sugg-label{
  margin: 0 25% 2%;
}
